.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  background-color: var(--color-bg);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 100%;
  flex: 1;
}

.col {
  flex: 1;
  min-width: 0;
  height: 100%;
  color: var(--color-glow-bg);
  opacity: 0.8;
}

.rowMobile {
  display: none;
}

.desktopRow {
  display: flex;
}

@media (max-width: 768px) {
  .desktopRow {
    display: none;
  }

  .rowMobile {
    display: flex;
  }
}